<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joe.kuaishou.mapper.KsLiveMyfavoriteMapper">

    <!--    <resultMap id="BaseResultMap" type="com.example.entity.User">-->
    <!--        <result column="id" jdbcType="INTEGER" property="id" />-->
    <!--        <result column="userName" jdbcType="VARCHAR" property="userName" />-->
    <!--        <result column="passWord" jdbcType="VARCHAR" property="passWord" />-->
    <!--        <result column="realName" jdbcType="VARCHAR" property="realName" />-->
    <!--    </resultMap>-->
    <select id="getKsLiveMyfavorite" resultType="ksLiveMyfavorite" parameterType="Integer">
        select * from ks_live_myfavorite where id = #{id}
    </select>

    <select id="getKsLiveMyfavoriteByAnchorId" resultType="ksLiveMyfavorite" parameterType="Integer">
        select * from ks_live_myfavorite where ks_anchor_id = #{ksAnchorId}
    </select>

    <select id="getAll" resultType="ksLiveMyfavorite">
        select * from ks_live_myfavorite
    </select>

    <insert id="insertKsLiveMyfavorite" parameterType="ksLiveMyfavorite" useGeneratedKeys="true" keyProperty="id">
        insert into ks_live_myfavorite(ks_anchor_name,ks_anchor_id,ks_anchor_header_url,description,is_myfavorite,update_time)
        values (#{ksAnchorName},#{ksAnchorId},#{ksAnchorHeaderUrl},#{description},#{isMyfavorite},#{updateTime})
    </insert>
<!--    <insert id="insertOrUpdateKsLiveMyfavoriteById" parameterType="ksLiveMyfavorite" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into ks_live_myfavorite(id,ks_anchor_name,ks_anchor_id,ks_anchor_header_url,description,is_myfavorite)-->
<!--        values (#{id},#{ksAnchorName},#{ksAnchorId},#{ksAnchorHeaderUrl},#{description},#{isMyfavorite})-->
<!--        on duplicate key update ks_anchor_name=#{ksAnchorName},ks_anchor_id=#{ksAnchorId},ks_anchor_header_url=#{ksAnchorHeaderUrl},description=#{description},is_myfavorite=#{isMyfavorite};-->
<!--    </insert>-->

    <insert id="insertKsLiveMyfavoriteByList" parameterType="List">
        insert into ks_live_myfavorite
        (ks_anchor_name ,ks_anchor_id ,ks_anchor_header_url ,description,is_myfavorite,update_time)
        values
        <foreach collection="list" index="index" item="i" separator=",">
            (#{i.ksAnchorName},#{i.ksAnchorId},#{i.ksAnchorHeaderUrl},#{i.description},#{isMyfavorite},#{updateTime})
        </foreach>
    </insert>

    <update id="updateKsLiveMyfavoriteByid">
        update ks_live_myfavorite
        <set>
            <if test="ksAnchorName != null">
                ks_anchor_name = #{ksAnchorName},
            </if>
            <if test="ksAnchorId != null">
                ks_anchor_id = #{ksAnchorId},
            </if>
            <if test="ksAnchorHeaderUrl != null">
                ks_anchor_header_url = #{ksAnchorHeaderUrl},
            </if>
            <if test="description != null">
                description = #{description}
            </if>
            <if test="isMyfavorite != null">
                is_myfavorite = #{isMyfavorite}
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteMyfavoriteByid">
        delete from ks_live_myfavorite where id = #{id}
    </delete>
</mapper>
